/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;

  --vt-c-black: #181818;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
